body {
    background-color: #ffffff;
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

.headercustom{
    background-color: #f1f3f4;
    width: 100%;
    text-align: center;
    display: block;
}

.body {
    background-color: #f8f8f8;
    width: 100%;
}

.footer{
    font-size: 12px;line-height: 1.6;color: rgb(102, 98, 98);
    width: 100%;
    background-color: #ffffff;
    margin-top: 10px;
    text-align: center;
}
.box {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 500px;
    display: block;
    margin: 20px auto;
}
.login-box {
    background-color: #f1f3f4; /* Màu đỏ */
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5); /* Đổ bóng */
    padding: 20px;
    text-align: center;
    width: 460px;
    margin-top: 20px;
}

.login-box h2 {
    color: #fff; /* Màu chữ trắng */
}

.login-box form {
    display: flex;
    flex-direction: column;
}

.login-box label {
    color: #f1f3f4;
    margin-bottom: 5px;
}

.login-box input {
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

.login-box button {
    background-color: #1877f2;
    color: #fff; 
    padding: 7px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.6;
    width: 460px;
}

.login-box button:hover {
    background-color: #0866ff; 
}

.login-box input {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 10px;
    border: 1px solid #c7dbff;
    border-radius: 20px;
    outline: none;
}

.line {
    border-top: 1px solid rgb(184, 179, 179);
    border-left: 0px !important;
    margin-top: 8px;
    margin-bottom: 8px;
}

/* CSS cho popup */
.popup {
    position: fixed;
    width: 220px;
    margin-top: 85px;
    margin-left: 50px;
    display:none;
    /*background-color: #fff;*/

}